## Deliverable 3. Create a Travel Itinerary Map.

In [75]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
try:
    from config import g_key

except (ModuleNotFoundError):
    print(ModuleNotFoundError)
    g_key = input("ENTER G_Key ")
    
# Configure gmaps
gmaps.configure(api_key=g_key)

<class 'ModuleNotFoundError'>
ENTER G_Key 45283

In [10]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,Vila Velha,BR,82.35,-20.3297,-40.2925,Hotel Vit처ria Palace
1,2,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,3,Arraial Do Cabo,BR,82.36,-22.9661,-42.0278,Pousada Porto Praia
3,6,Georgetown,MY,85.95,5.4112,100.3354,Cititel Penang
4,7,Sao Joao Da Barra,BR,84.29,-21.6403,-41.0511,Pousada Porto De Canoas

In [22]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} 째F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [24]:
# 4a. Add a marker layer for each city to the map.

locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)




# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Penzance']

vacation_end = vacation_df.loc[vacation_df['City'] == 'Penzance']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Salisbury']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Margate']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Middlesbrough']

vacation_stop2

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
45,203,Margate,GB,81.1,51.3813,1.3862,Premier Inn Margate hotel

In [56]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(map(tuple, pd.DataFrame(vacation_start[["Lat", "Lng"]]).to_numpy()))[0]
end = tuple(map(tuple, pd.DataFrame(vacation_end[["Lat", "Lng"]]).to_numpy()))[0]

stop1 = pd.DataFrame(vacation_stop1[["Lat", "Lng"]]).to_numpy()
stop1 = tuple(map(tuple,stop1))[0]
stop2 = pd.DataFrame(vacation_stop2[["Lat", "Lng"]]).to_numpy()
stop2 = tuple(map(tuple,stop2))[0]
stop3 = pd.DataFrame(vacation_stop3[["Lat", "Lng"]]).to_numpy()
stop3 = tuple(map(tuple,stop3))[0]


start, stop1, stop2, stop3

((50.1186, -5.5371), (51.0693, -1.7957), (51.3813, 1.3862), (54.5762, -1.2348))

In [72]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(layout= {'height': '1200px', 'width': '1200px'})
itinerary_trip_plan = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING")
fig.add_layer(itinerary_trip_plan)
fig

Figure(layout=FigureLayout(height='1200px', width='1200px'))

In [60]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,672,Penzance,GB,79.48,50.1186,-5.5371,Artist Residence Penzance
1,414,Salisbury,GB,86.56,51.0693,-1.7957,Mercure Salisbury White Hart Hotel
2,203,Margate,GB,81.10,51.3813,1.3862,Premier Inn Margate hotel
3,264,Middlesbrough,GB,84.40,54.5762,-1.2348,Jurys Inn Middlesbrough

In [61]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} 째F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
iternary_locations = itinerary_df[["Lat", "Lng"]]

In [69]:
# 11a. Add a marker layer for each city to the map.

itinerary_locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure( layout= {'height': '1200px', 'width': '1200px'})
marker_layer = gmaps.marker_layer(itinerary_locations, info_box_content=itinerary_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='1200px', width='1200px'))

In [73]:
fig = gmaps.figure(layout= {'height': '1200px', 'width': '1200px'})
itinerary_trip_plan = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING")
fig.add_layer(itinerary_trip_plan)
fig

Figure(layout=FigureLayout(height='1200px', width='1200px'))